html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='Politico-Shape tomorrow by voting!'
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:400,500,700" rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="/images/politico-192.png" sizes="54 54")
        link(rel="stylesheet" href="/stylesheets/base.css")
        link(rel="stylesheet" href="/stylesheets/layout.css")
        link(rel="stylesheet" href="/stylesheets/components.css")
        link(rel="stylesheet" href="/stylesheets/home.css")

    body.bg-dark
        div.container
            // navigation bar
            nav.nav
                a.nav-icon(href="/")
                    img(src="/images/Politico_fist.svg" alt="Politico")
                    p.icon-text.text-primary Politico

                button.dropdown-trigger
                    img.dropdown-trigger-img(src="/images/profile.jpg")

                div.dropdown
                    div.user-info
                        img.user-image(src="/images/profile.jpg")
                        p.user-name avpaul

                    ul.dropdown-menu
                        li.menu-item
                            a.link-item(href="/profile") my profile & votes

                        li.menu-item
                            a.link-item(href="/parties") parties

                        li.menu-item
                            a.link-item(href="/available-offices") available offices

                        li.menu-item
                            a.link-item(href="/politicians") running politicians

                        li.menu-item
                            a.link-item(href="/results") election results

                        li.menu-item
                            a.link-item(href="/admin-panel") admin panel

            div.candidate-view
                .heading.mt2.mb2
                    a(href="/politicians")
                        i.zmdi.zmdi-arrow-left.zmdi-hc-2x.text-accent
                    h2.w-n.text-capital.card-title city mayor

                div.card.candidate
                    div.card-image
                        img(src="/images/2.jpeg" alt="")
                    div.card-content.p3
                        div.card-title.text-capital.pb2.text-accent mulinda thomas
                        p.candidate-qualification.pb1.text-primary Msc International Economics
                        div.office-description.text-primary
                            |But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                            |was born and I will give you a complete account of the system, and expound the actual teachings
                            |of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                            |dislikes, or avoids pleasure itself, because it is.

                        div.card-action
                            button.btn.red-outline vote

            footer.p3
                p.footer-logo-text.text-accent &copy; 2019 Politico

        div.overlay-sc
        script(src="/javascripts/index.js")
