extends layout
block content
    div.jumbotron.center
        h2 Have a vision?
        h3 Make the right decision!
    div
        form.card.form
            div.card-title Login and vote!
            div.card-content
                div.field-group
                    label.field-name(for="user-email") Email:
                    input.input(type="text" name="email" id="user-email")

                div.field-group
                    label.field-name(for="user-password") Password:
                    input.input(type="password" name="password" id="user-password")

                div.other-options
                    a.text-white(href="/reset") Reset password
                    a.text-white(href="/signup") or Sign up

            div.card-action
                a.btn(href="/politicians") login
