extends layout
block content
    div.jumbotron.center
        h2 Have a vision?
        h3 Make the right decision!

    div.card.form
        div.card-title Create an account to vote!
        div.card-content
            div.field-group
                label.field-name(for="user-name") Name:
                input.input#user-name(type="text" name="userName")

            div.field-group
                label.field-name(for="user-email") Email:
                input.input#user-email(type="text" name="email")

            div.field-group
                label.field-name(for="user-password") Password:
                input.input#user-password(type="password" name="password")

            div.other-options
                a.text-white(href="/login") Have an account?

        div.card-action
            a.btn(href="/politicians") signup

block afterFooter
    div.overlay-sc
    script(src="/javascripts/index.js")
