html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='Shape tomorrow by voting!'
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:400,500,700" rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="/images/favicon.png" sizes="54 54")
        link(rel="stylesheet" href="/stylesheets/base.css")
        link(rel="stylesheet" href="/stylesheets/layout.css")
        link(rel="stylesheet" href="/stylesheets/components.css")
        link(rel="stylesheet" href="/stylesheets/home.css")

    body.bg-dark
        div.container
            // navigation bar
            nav.nav
                a.nav-icon(href="/")
                    img(src="/images/politico.svg" alt="Politico")
                    p.icon-text Politico

                div.menu
                    a.link-item(href="/parties") parties
                    a.link-item(href="/politicians") politicians
                    a.link-item(href="/availableoffices") offices
                    a.link-item(href="/results") results
                    a.link-item(href="/admin") admin
                    a.link-item(href="/profile") profile
                    button.btn.link-item(href="/admin") logout

                button.dropdown-trigger
                    img.dropdown-trigger-img(src="/images/profile.jpg")

                div.dropdown
                    div.user-info
                        img.user-image(src="/images/profile.jpg")
                        p.user-name avpaul

                    ul.dropdown-menu.mobile
                        li.menu-item
                            a.link-item(href="/profile") my profile & votes

                        li.menu-item
                            a.link-item(href="/parties") parties

                        li.menu-item
                            a.link-item(href="/availableoffices") available offices

                        li.menu-item
                            a.link-item(href="/politicians") running politicians

                        li.menu-item
                            a.link-item(href="/results") election results

                        li.menu-item
                            a.link-item(href="/admin") admin panel

                        li.menu-item
                            button.btn.link-item(href="/admin") logout

            div.profile-view
                //user info
                div.card.user-info
                    h3.text-accent.m2 My Profile
                    div.center.mb2
                        img.user-image.mb2(src="/images/profile.jpg")
                        button.btn.red-outline.text-primary change

                    div.field-group
                        label.field-name(for="first-name")   First name:
                        input.input#first-name(type="text" name="first-name")

                    div.field-group
                        label.field-name(for="last-name") Last name:
                        input.input#last-name(type="text" name="last-name")

                    div.field-group
                        label.field-name(for="other-name") Other Name:
                        input.input#other-name(type="text" name="other-name")

                    div.field-group
                        label.field-name(for="user-email") Email:
                        input.input#user-email(type="text" name="email")

                    div.field-group
                        label.field-name(for="user-id") ID:
                        input.input#user-id(type="text" name="id")

                    div.field-group
                        label.field-name(for="user-passport") PassportUrl:
                        input.input#user-passport(type="text" name="passport")

                    div.field-group
                        label.field-name(for="user-address") Address:
                        input.input#user-address(type="text" name="address")

                    div.field-group
                        label.field-name(for="user-party") Party:
                        select#user-party.text-capital.field-input.ml1(name="office")
                            option(value="") Choose your party
                            option(value="democratic-party ") democratic party
                            option(value="green-party")  green party
                            option(value="liberals") liberals
                            option(value="workers-union")  workers union

                    button.btn.red-outline.m1.updateUserInfo.text-primary save changes

                div.card.text-primary.user-votes
                    h3.text-accent.mt1.mb1 My votes
                    div.card-content
                        div.vote
                            div.voted-office city mayor
                            div.voted-candidate mulinda thomas

                        div.vote
                            div.voted-office head of ICT
                            div.voted-candidate paul greg

                        div.vote
                            div.voted-office accountant
                            div.voted-candidate mutoni elise

                    div.card-action
                        a.btn.red-outline(href="/results") see election results

            footer.p3
                p.footer-logo-text.text-accent &copy; 2019 Politico

        div.overlay-sc
        script(src="/javascripts/index.js")
