<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Politico-Shape tommorow by voting!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:400,500,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../icons/politico-192.png" sizes="54 54">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
</head>

<body>
    <div class="container">
        <div class="log-status m2">
            <!-- if user is logged in show the name else show a login link -->
            <a href="./login.html" class="login-username">login</a>
            <div class="separator"></div>
            <a href="./signup.html" class="log-action">signup</a>
        </div>
        <!-- navigation bar -->
        <nav class='nav'>
            <!-- icon -->
            <a href="home.html" class="nav-icon">
                <img src="../../icons/Politico_fist.svg" alt="">
                <p class="icon-text text-primary">Politico</p>
            </a>
            <div class="menu-bar dropdown-trigger">
                <i class="zmdi zmdi-menu zmdi-hc-3x color-primary"></i>
            </div>
            <!-- MENU DROPDOWN -->
            <div class="dropdown">
                <!-- user info -->
                <div class="user-info">
                    <img src="../../images/profile.jpg" class="user-image"></img>
                    <p class="user-name">avpaul</p>
                </div>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="./profile.html" class="link-item">my profile & votes</a>
                    </li>
                    <li class="menu-item">
                        <a href="./parties.html" class="link-item">parties</a>
                    </li>
                    <li class="menu-item">
                        <a href="./available-offices.html" class="link-item">available offices</a>
                    </li>
                    <li class="menu-item">
                        <a href="./politicians.html" class="link-item">running politicians</a>
                    </li>
                    <li class="menu-item">
                        <a href="./results.html" class="link-item">election results</a>
                    </li>
                    <li class="menu-item">
                        <a href="./admin-panel.html" class="link-item">admin panel</a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="office-view">
            <div class="heading pl3">
                <a href="./admin-panel.html">
                    <i class="zmdi zmdi-arrow-left zmdi-hc-2x"></i></a>
                <h2 class="w-n text-capital">add office</h2>
            </div>

            <div class="card office text-primary">

                <div class="card-content p3">
                    <div class="field-group">
                        <label for="office-name" class="field-name">Name:</label>
                        <input type="text" name="name" id="office-name" class="input">
                    </div>

                    <div class="field-group">
                        <label for="office-desc" class="field-name">Description:</label>
                        <textarea name="office-description" id="office-desc" cols="30" rows="10" class="input"></textarea>
                    </div>
                    <div class="card-action">


                        <button class="btn red-outline">save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <footer class="p3">
        <p class="text-secondary footer-logo-text">&copy; 2019 Politico</p>
    </footer>
    <div class="overlay-sc"></div>
    <script src="../js/index.js"></script>
</body>

</html>