.nav {
    height: 72px;
    box-shadow: #00000024 0 3px 4px;
    position: absolute;
    z-index: 5000;
    background-color: rgba(0255, 255, 255, .1);
    padding: .5rem;
    top: 0;
    left: 0;
    right: 0;
}

.nav-icon>.icon-text {
    color: #ffffff;
    margin-left: .25rem;
}

.menu {
    display: none;
}

.menu.show {
    display: block;
}

.dropdown-trigger {
    display: block;
}

.menu a[href] {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    display: inline-block;
    line-height: 3;
    padding: 0 .5rem;
    min-width: 80px;
    vertical-align: middle;
    ;
}

.menu .zmdi {
    line-height: 2.4;
}

.menu a[href]:hover {
    color: var(--secondary-color);
    background-color: #ffffff;
}

.dropdown-trigger {
    max-height: 100%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
}

.dropdown-trigger:focus {
    outline: none;
}

.dropdown-trigger i.zmdi {
    position: absolute;
    top: 50%;
    right: -45%;
    transform: translateY(-50%);
}

.dropdown-trigger-img {
    height: 100%;
    border-radius: 50%;
    display: block;
}

@media only screen and (min-width: 768px) {
    .menu {
        display: block;
    }

    .dropdown-trigger {
        display: none;
    }

    .nav {
        height: 72px;
        box-shadow: #00000024 0 3px 4px;
        position: absolute;
        z-index: 5000;
        background-color: rgba(0255, 255, 255, .1);
        padding: .2rem;
        top: 0;
        left: 0;
        right: 0;
    }

    .nav-icon {
        padding-left: 5rem;
    }

    .nav-icon>.icon-text {
        color: #ffffff;
        line-height: 1.4;
        margin-left: .5rem;
    }

    .menu {
        margin-right: 3rem;
    }

    .menu a[href] {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-align: center;
        height: 100%;
        display: inline-block;
        line-height: 3;
        padding: 0 .5rem;
        min-width: 80px;
        vertical-align: middle;
    }

    .menu .zmdi {
        line-height: 2.4;
    }

    .menu a[href]:hover {
        color: var(--secondary-color);
        background-color: #ffffff;
    }

    .dropdown-trigger {

        margin-right: 1rem;
    }

}